In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

## Exercise 3

In [2]:
link = "https://raw.githubusercontent.com/maxtran1997gmail/Files/main/dataset_2190_cholesterol.csv"
df = pd.read_csv(link)
df

,age,sex,cp,trestbps,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,chol
0,63,1,1,145,1,2,150,0,2.3,3,0,6,0,233
1,67,1,4,160,0,2,108,1,1.5,2,3,3,2,286
2,67,1,4,120,0,2,129,1,2.6,2,2,7,1,229
3,37,1,3,130,0,0,187,0,3.5,3,0,3,0,250
4,41,0,2,130,0,2,172,0,1.4,1,0,3,0,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,0,0,132,0,1.2,2,0,7,1,264
299,68,1,4,144,1,0,141,0,3.4,2,2,7,2,193
300,57,1,4,130,0,0,115,1,1.2,2,1,7,3,131
301,57,0,2,130,0,2,174,0,0.0,2,1,3,1,236
302,38,1,3,138,0,0,173,0,0.0,1,?,3,0,175

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   fbs       303 non-null    int64
 5   restecg   303 non-null    int64
 6   thalach   303 non-null    int64
 7   exang     303 non-null    int64
 8   oldpeak   303 non-null    float64
 9   slope     303 non-null    int64
 10  ca        303 non-null    object
 11  thal      303 non-null    object
 12  num       303 non-null    int64
 13  chol      303 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.3+ KB

In [10]:
df['ca'].unique()

array(['0', '3', '2', '1', '?'], dtype=object)

In [14]:
df.groupby('ca').size()

ca
0    176
1     65
2     38
3     20
?      4
dtype: int64

In [11]:
df['thal'].unique()

array(['6', '3', '7', '?'], dtype=object)

In [15]:
df.groupby('thal').size()

thal
3    166
6     18
7    117
?      2
dtype: int64

In [24]:
df = df.replace('?', np.nan)
df = df[(~df['thal'].isna()) & (~df['ca'].isna())]

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

from sklearn.model_selection import train_test_split

In [29]:
X = df.drop(['num'], axis=1)
y = df['num']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=1)

In [32]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(Xtrain, ytrain)
Y_pred = decision_tree.predict(Xtest)
decision_tree_score = round(decision_tree.score(Xtest, ytest) * 100, 2)
decision_tree_acc = round(accuracy_score(ytest, Y_pred) * 100, 2) 
print(decision_tree_score)
print(decision_tree_acc)

58.67
58.67

In [33]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(Xtrain, ytrain)
Y_pred = random_forest.predict(Xtest)
random_forest_score = round(random_forest.score(Xtest, ytest) * 100, 2)
random_forest_acc = round(accuracy_score(ytest, Y_pred) * 100, 2) 
print(random_forest_score)
print(random_forest_acc)

57.33
57.33